*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: #000000;
}

/*========== Game Viewport ==========*/
#gameViewPort
{
    background-color: white;
    height: 98vh;
    width: 112vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#floor
{
    position: absolute;
    height: 98vh;
    width: 112vh;
}

/*========== Snake ==========*/
#snake
{
    height: 10vh;
    position:absolute;
    margin-left: 0vh;
    margin-top: 0vh;
}
#snakeSprite
{
    width: 5vh;
    height: 10vh;
}

/*========== Guards ==========*/
#guard
{
    height: 10vh;
    margin-top: 20vh;
    margin-left: 40vh;
    position: absolute;
}
.guardSprite
{
    height: 10vh;
}

/*========== Walls ==========*/
.wallVertical
{
    position: absolute;
    width: 5vh;
}
.wallVerticalSprite
{
    width: 5vh;
    /*Graphical Fix for the behaviour of the collision detection leaving a gap on the top and bottom of the wall when Snake touches it.*/
    /* height: 27vh; */
    /* margin-top: -1vh; */
}
.wallHorizontal
{
    position: absolute;
    height: 5vh;
}
.wallHorizontalSprite
{
    height: 5vh;
}

/* ========== Doors ==========*/
.doorVertical
{
    position: absolute;
}
.doorVerticalSprite
{
    height: 3vh;
    width: 8vh;
}

.doorHorizontal
{
    position: absolute;
}
.doorHorizontalSprite
{
    height: 8vh;
    width: 3vh;
}


#doorBottom
{
    margin-top: 95vh;
    margin-left: 52vh;
}
#doorTop
{
    margin-left: 52vh;
}

/*========== ROOM 0 ==========*/
#wall0A
{
    margin-left: 0vh;
    margin-top: 15vh;
}
#wall0B
{
    margin-left: 25vh;
    margin-top: 15vh;
}
#wall0C
{
    margin-left: 50vh;
    margin-top: 15vh;
}
#wall0D
{
    margin-left: 70vh;
    margin-top: 15vh;
}
#wall0E
{
    margin-left: 90vh;
    margin-top: 15vh;
}