h1
{
    font-size: 50px;
}
input
{
    margin-bottom: 15px;
    height: 35px;
    width: 450px;
    border-color: lightblue;
    border-style:solid;
    border-width: 3px;
    font-size: 22px;
    padding-left: 5px;
}
button
{
    height: 45px;
    width: 150px;
    background-color: orange;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: hidden;
}